*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: darkslategrey;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.quiz-app {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  background-color: hsl(182, 25%, 50%);
  border: 1px solid hsl(182, 20%, 30%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.textInput {
  width: 80%;
  padding: 5px 10px;
  margin: 10px 20px;
}

.score-container {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
